<div class="auth-container">
  <form class="auth-container__wrapper">
    <h2>Регистрировать аккаунт</h2>

    <div class="input-group">
      <label for="username">Имя пользователя</label>
      <input type="text" class="custom-input" placeholder="Вводите имя пользователя...">
    </div>

    <div class="input-group">
      <label for="password">Пароль</label>
      <input type="password" class="custom-input" placeholder="Вводите пароль...">
    </div>

    <div class="buttons-group">
      <button class="custom-button">Создать</button>
    </div>
  </form>
</div>

