<div class="auth-container">
  <form class="auth-container__wrapper" [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <h2>Регистрировать аккаунт</h2>

    <div class="input-group">
      <label for="username">Имя пользователя</label>
      <input type="text" class="custom-input" placeholder="Вводите имя пользователя..." formControlName="username">
      @if (authForm.controls.username.invalid && authForm.controls.username.touched) {
        <div
          class="error"
        >
          @if (authForm.controls.username.errors?.['required']) {
            <small>
              Имя обязательно
            </small>
          }
        </div>
      }
    </div>

    <div class="input-group">
      <label for="password">Пароль</label>
      <input type="password" class="custom-input" placeholder="Вводите пароль..." formControlName="password">
      @if (authForm.controls.password.invalid && authForm.controls.password.touched) {
        <div class="error">
          @if (authForm.controls.password.errors?.['required']) {
            <small>
              Пароль обязателен
            </small>
          }
          @if (authForm.controls.password.errors?.['minlength']) {
            <small>
              Минимум {{ authForm.controls.password.errors?.['minlength'].requiredLength }} символа
            </small>
          }
        </div>
      }
    </div>

    <div class="buttons-group">
      <button class="custom-button" [disabled]="authForm.invalid">
        @if (isLoading()) {
          <uc-loader-spinner/>
        } @else {
          Создать аккаунт
        }
      </button>
      <a routerLink="/auth/login">У меня есть аккаунт</a>
    </div>
  </form>
</div>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"/>
