@use "theme/theme" as *;
@import "primeicons/primeicons.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-white);
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}
